@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #708090;
}

#root #subtitle {
    font-style: italic;
}

.wrapper {
    width: 600px;
}

.wrapper hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

.wrapper #json-result {
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
}
